<!--

type Context struct {
    Package  string
    VersionA string
    VersionB string
    Diffs     []struct {
        PathA string
        PathB string
        Lines []struct {
            NumberA int
            NumberB int
            Content string
        }
    }
}

-->

{{define "title"}}
    {{.Package}}
{{end}}

{{define "style"}}
    <style></style>
{{end}}

{{define "body"}}
    {{$package := .Package}}
    {{$versionA := .VersionA}}
    {{$versionB := .VersionB}}
    {{range $i, $diff := .Diffs}}
        <div class="info">
            {{if eq $diff.PathA $diff.PathB}}
                <a href="/package/{{$package}}/{{$versionA}}{{$diff.PathA}}">{{$diff.PathA}}</a>
            {{else}}
                <a href="/package/{{$package}}/{{$versionA}}{{$diff.PathA}}">{{$diff.PathA}}</a>
                &nbsp;renamed&nbsp;
                <a href="/package/{{$package}}/{{$versionB}}{{$diff.PathB}}">{{$diff.PathB}}</a>
            {{end}}
        </div>
        <div class="file">
            {{range $line := $diff.Lines}}

                <!-- Separation between diffs. -->
                {{if and (eq $line.NumberA 0) (eq $line.NumberB 0)}}
                    <div class="line blue">
                        <div class="hidden-id-target"></div>
                        <div class="hidden-id-target"></div>
                        <div class="number"></div>
                        <div class="number"></div>
                        <div class="content">{{$line.Content}}</div>
                    </div>
                {{else if and (ne $line.NumberA 0) (ne $line.NumberB 0)}}
                    <!-- Unchanged line. -->
                    <div class="line">
                        <div class="hidden-id-target" id="#D{{$i}}A{{$line.NumberA}}"></div>
                        <div class="hidden-id-target" id="#D{{$i}}B{{$line.NumberB}}"></div>
                        <a class="number" href="#D{{$i}}A{{$line.NumberA}}">{{$line.NumberA}}</a>
                        <a class="number" href="#D{{$i}}B{{$line.NumberB}}">{{$line.NumberB}}</a>
                        <div class="content">{{$line.Content}}</div>
                    </div>
                {{else if and (ne $line.NumberA 0) (eq $line.NumberB 0)}}
                    <!-- Created line. -->
                    <div class="line green">
                        <div class="hidden-id-target" id="#D{{$i}}A{{$line.NumberA}}"></div>
                        <div class="hidden-id-target"></div>
                        <a class="number" href="#D{{$i}}A{{$line.NumberA}}">{{$line.NumberA}}</a>
                        <div class="number"></div>
                        <div class="content">{{$line.Content}}</div>
                    </div>
                {{else if and (eq $line.NumberA 0) (ne $line.NumberB 0)}}
                    <!-- Removed line. -->
                    <div class="line red">
                        <div class="hidden-id-target" id="#D{{$i}}B{{$line.NumberB}}"></div>
                        <div class="hidden-id-target"></div>
                        <div class="number"></div>
                        <a class="number" href="#D{{$i}}B{{$line.NumberB}}">{{$line.NumberB}}</a>
                        <div class="content">{{$line.Content}}</div>
                    </div>
                {{end}}

            {{end}}
        </div>
    {{end}}
{{end}}
