<!--

type Context struct {
    Package  string
    VersionA string
    VersionB string
    Patches  []struct {
        PathA string
        PathB string
        Lines []struct {
            LineA int
            LineB int
            Content string
        }
    }
}

-->

{{- define "title" -}}
    {{- .Package -}}
{{- end -}}

{{- define "description" -}}
    Diff package contents {{  .Package  }} @ {{  .VersionA  }} .. {{  .VersionB  }}
{{- end -}}

{{- define "style" -}}
    <style>
        .wrapper + .wrapper {
            margin-top: 2rem;
        }

        .content .line.blue {
            background-color: #f1f8ff;
            color: rgba(34, 34, 34, 0.5);
        }

        .content .line.blue:hover {
            background-color: #dbedff;
        }

        .content .line.blue .decoration {
            background-color: #dbedff;
        }

        .content .line.blue .data {
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
        }

        .content .line.red {
            background-color: #ffeef0;
        }

        .content .line.red:hover {
            background-color: #ffdce0;
        }

        .content .line.red .decoration {
            background-color: #ffdce0;
        }

        .content .line.green {
            background-color: #e6ffed;
        }

        .content .line.green:hover {
            background-color: #cdffd8;
        }

        .content .line.green .decoration {
            background-color: #cdffd8;
        }
    </style>
{{- end -}}

{{- define "body" -}}
    {{- $package := .Package -}}
    {{- $versionA := .VersionA -}}
    {{- $versionB := .VersionB -}}
    {{- range $i, $patch := .Patches -}}
        {{- if gt (len $patch.Lines) 0 -}}
            <!-- Wrapper div to hide sticky info bar after scrolling past content. -->
            <div class="wrapper">
                <div class="info">
                    {{- $packageA := print "/package/" $package "/" $versionA "/" -}}
                    {{- $packageB := print "/package/" $package "/" $versionB "/" -}}

                    <a href="/package/{{- $package -}}/">{{- $package -}}</a>
                    @
                    <a href="{{- $packageA -}}">{{- $versionA -}}</a>
                    ..
                    <a href="{{- $packageB -}}">{{- $versionB -}}</a>
                    -

                    {{  $linkA := print $packageA $patch.PathA -}}
                    {{- $linkB := print $packageB $patch.PathB -}}

                    {{- if and (eq $patch.PathA "") (ne $patch.PathB "") -}}
                        <b>create</b>
                        <a href="{{- $linkB -}}">{{- $patch.PathB -}}</a>
                    {{- else if and (ne $patch.PathA "") (eq $patch.PathB "") -}}
                        <b>delete</b>
                        <a href="{{- $linkA -}}">{{- $patch.PathA -}}</a>
                    {{- else if eq $patch.PathA $patch.PathB -}}
                        <a href="{{- $linkB -}}">{{- $patch.PathB -}}</a>
                    {{- else -}}
                        <b>rename</b>
                        <a href="{{- $linkB -}}">{{- $patch.PathB -}}</a>
                        🡒
                        <a href="{{- $linkA -}}">{{- $patch.PathA -}}</a>
                    {{- end -}}
                </div>
                <div class="content">
                    {{- range $j, $line := $patch.Lines -}}

                        <!-- Separation between groups. -->
                        {{- if and (eq $line.LineA 0) (eq $line.LineB 0) -}}
                            <div class="line blue">
                                <div class="decoration"></div>
                                <div class="decoration"></div>
                                <div class="data">{{- $line.Content -}}</div>
                                <div class="target"></div>
                                <div class="_link"></div>
                            </div>
                        {{- else if and (ne $line.LineA 0) (ne $line.LineB 0) -}}
                            <!-- Unchanged line. -->
                            <div class="line">
                                <a class="decoration" href="{{- $linkA -}}#L{{- $line.LineA -}}">{{- $line.LineA -}}</a>
                                <a class="decoration" href="{{- $linkB -}}#L{{- $line.LineB -}}">{{- $line.LineB -}}</a>
                                <div class="data">{{- $line.Content -}}</div>
                                <div class="target" id="D{{- $i -}}L{{- $j -}}"></div>
                                <a class="link" href="#D{{- $i -}}L{{- $j -}}"></a>
                            </div>
                        {{- else if and (ne $line.LineA 0) (eq $line.LineB 0) -}}
                            <!-- Removed line. -->
                            <div class="line red">
                                <a class="decoration" href="{{- $linkA -}}#L{{- $line.LineA -}}">{{- $line.LineA -}}</a>
                                <div class="decoration">-</div>
                                <div class="data">{{- $line.Content -}}</div>
                                <div class="target" id="D{{- $i -}}L{{- $j -}}"></div>
                                <a class="link" href="#D{{- $i -}}L{{- $j -}}"></a>
                            </div>
                        {{- else if and (eq $line.LineA 0) (ne $line.LineB 0) -}}
                            <!-- Created line. -->
                            <div class="line green">
                                <div class="decoration">+</div>
                                <a class="decoration" href="{{- $linkB -}}#L{{- $line.LineB -}}">{{- $line.LineB -}}</a>
                                <div class="data">{{- $line.Content -}}</div>
                                <div class="target" id="D{{- $i -}}L{{- $j -}}"></div>
                                <a class="link" href="#D{{- $i -}}L{{- $j -}}"></a>
                            </div>
                        {{- end -}}

                    {{- end -}}
                </div>
            </div>
        {{- end -}}
    {{- end -}}
{{- end -}}
