<!--

type Context struct {
    Package  string
    VersionA string
    VersionB string
    Patches  []struct {
        PathA string
        PathB string
        Lines []struct {
            NumberA int
            NumberB int
            Content string
        }
    }
}

-->

{{define "title"}}
    {{.Package}}
{{end}}

{{define "style"}}
    <style>
        .content .line.blue {
            background-color: #f1f8ff;
            color: rgba(34, 34, 34, 0.5);
        }

        .content .line.blue:hover {
            background-color: #dbedff;
        }

        .content .line.blue .decoration {
            background-color: #dbedff;
        }

        .content .line.blue .data {
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
        }

        .content .line.red {
            background-color: #ffeef0;
        }

        .content .line.red:hover {
            background-color: #ffdce0;
        }

        .content .line.red .decoration {
            background-color: #ffdce0;
        }

        .content .line.green {
            background-color: #e6ffed;
        }

        .content .line.green:hover {
            background-color: #cdffd8;
        }

        .content .line.green .decoration {
            background-color: #cdffd8;
        }
    </style>
{{end}}

{{define "body"}}
    {{$package := .Package}}
    {{$versionA := .VersionA}}
    {{$versionB := .VersionB}}
    {{range $i, $patch := .Patches}}
        <!-- Wrapper div to hide sticky info bar after scrolling past content. -->
        <div>
            {{$linkA := print "/package/" $package "/" $versionA "/" $patch.PathA}}
            {{$linkB := print "/package/" $package "/" $versionB "/" $patch.PathB}}

            <div class="info">
                {{if and (eq $patch.PathA "") (ne $patch.PathB "")}}
                    <b>deleted</b>
                    <a href="{{$linkB}}">{{$patch.PathB}}</a>
                {{else if and (ne $patch.PathA "") (eq $patch.PathB "")}}
                    <b>created</b>
                    <a href="{{$linkA}}">{{$patch.PathA}}</a>
                {{else if eq $patch.PathA $patch.PathB}}
                    <a href="{{$linkA}}">{{$patch.PathA}}</a>
                {{else}}
                    <b>renamed</b>
                    <a href="{{$linkB}}">{{$patch.PathB}}</a>
                    🡒
                    <a href="{{$linkA}}">{{$patch.PathA}}</a>
                {{end}}
            </div>
            <div class="content">
                {{range $j, $line := $patch.Lines}}

                    <!-- Separation between groups. -->
                    {{if and (eq $line.NumberA 0) (eq $line.NumberB 0)}}
                        <div class="line blue">
                            <div class="decoration"></div>
                            <div class="decoration"></div>
                            <div class="data">{{$line.Content}}</div>
                            <div class="target"></div>
                            <div class="_link"></div>
                        </div>
                    {{else if and (ne $line.NumberA 0) (ne $line.NumberB 0)}}
                        <!-- Unchanged line. -->
                        <div class="line">
                            <a class="decoration" href="{{$linkA}}#L{{$line.NumberA}}">{{$line.NumberA}}</a>
                            <a class="decoration" href="{{$linkB}}#L{{$line.NumberB}}">{{$line.NumberB}}</a>
                            <div class="data">{{$line.Content}}</div>
                            <div class="target" id="D{{$i}}L{{$j}}"></div>
                            <a class="link" href="#D{{$i}}L{{$j}}"></a>
                        </div>
                    {{else if and (ne $line.NumberA 0) (eq $line.NumberB 0)}}
                        <!-- Created line. -->
                        <div class="line green">
                            <a class="decoration" href="{{$linkA}}#L{{$line.NumberA}}">{{$line.NumberA}}</a>
                            <div class="decoration">+</div>
                            <div class="data">{{$line.Content}}</div>
                            <div class="target" id="D{{$i}}L{{$j}}"></div>
                            <a class="link" href="#D{{$i}}L{{$j}}"></a>
                        </div>
                    {{else if and (eq $line.NumberA 0) (ne $line.NumberB 0)}}
                        <!-- Removed line. -->
                        <div class="line red">
                            <div class="decoration">-</div>
                            <a class="decoration" href="{{$linkB}}#L{{$line.NumberB}}">{{$line.NumberB}}</a>
                            <div class="data">{{$line.Content}}</div>
                            <div class="target" id="D{{$i}}L{{$j}}"></div>
                            <a class="link" href="#D{{$i}}L{{$j}}"></a>
                        </div>
                    {{end}}

                {{end}}
            </div>
        </div>
    {{end}}
{{end}}
