<!--

type Context struct {
    Package     string
    Version     string
    Path        []string
    PathLinks   []string
    Directories []string
    Files       []string
}

-->

{{define "title"}}
    {{.Package}}
{{end}}

{{define "style"}}
    <style>
        .info .compare {
            float: right;
        }

        .info .compare img {
            height: 1em;
            opacity: 0.6;
            transform: translateY(2px);
        }

        .content .line .data {
            padding-left: 0;
        }

        .content.dirs {
            border-radius: 0;
            margin-bottom: 0;
        }

        /* Round bottom corners if there are no files in the directory. */
        .content.dirs:last-of-type {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .content.files {
            border-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{{end}}

{{define "body"}}
    <div class="info">
        <a href="/package/{{.Package}}/">{{.Package}}</a>

        &nbsp;>&nbsp;

        <!-- Version is only clickable when not in the package root. -->
        {{if gt (len .Path) 0}}
            <a href="/package/{{.Package}}/{{.Version}}/">{{.Version}}</a>
        {{else}}
            {{.Version}}
            <div class="compare">
                <img src="/assets/icon-diff.svg">
                <a href="/compare/{{.Package}}/{{.Version}}/">
                    diff
                </a>
            </div>
        {{end}}

        {{$links := .PathLinks}}
        {{range $i, $part := .Path}}
            {{if ne $part ""}}
                &nbsp;>&nbsp;

                <!-- Only make part clickable if a link is provided. -->
                {{$link := (index $links $i)}}
                {{if ne $link ""}}
                    <a href="{{$link}}">{{$part}}</a>
                {{else}}
                    {{$part}}
                {{end}}

            {{end}}
        {{end}}
    </div>
    {{if ne (len .Directories) 0}}
        <div class="content dirs">
            {{range $i, $name := .Directories}}
                <div class="line">
                    <img class="decoration" src="/assets/icon-folder.svg">
                    <a class="data" href="./{{$name}}/">
                        {{- $name -}}
                    </a>
                </div>
            {{end}}
        </div>
    {{end}}
    {{if ne (len .Files) 0}}
        <div class="content files">
            {{range $i, $name := .Files}}
                <div class="line">
                    <img class="decoration" src="/assets/icon-file.svg">
                    <a class="data" href="./{{$name}}">
                        {{- $name -}}
                    </a>
                </div>
            {{end}}
        </div>
    {{end}}
{{end}}
