<!--

type Context struct {
    Package     string
    Version     string
    Path        []string
    Directories []string
    Files       []string
}

-->

{{define "title"}}
    {{.Package}}
{{end}}

{{define "style"}}
    <style>
        .file .line .content {
            padding-left: 0;
        }

        .file.dirs {
            border-radius: 0;
            margin-bottom: 0;
        }

        /* Round bottom corners if there are no files in the directory. */
        .file.dirs:last-of-type {
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

        .file.files {
            border-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{{end}}

{{define "body"}}
    <div class="info">
        <a href="/package/{{.Package}}">{{.Package}}</a>
        &nbsp;>&nbsp;
        {{if gt (len .Path) 1}}
            <a href="/package/{{.Package}}/{{.Version}}">{{.Version}}</a>
        {{else}}
            {{.Version}}
        {{end}}
        {{range $i, $part := .Path}}
            {{if ne $part ""}}
                &nbsp;>&nbsp;
                <!-- TODO link -->
                {{$part}}
            {{end}}
        {{end}}
    </div>
    {{if ne (len .Directories) 0}}
        <div class="file dirs">
            {{range $i, $name := .Directories}}
                <div class="line">
                    <img src="/assets/icon-folder.svg" class="number">
                    <a class="content" href="./{{$name}}/">
                        {{- $name -}}
                    </a>
                </div>
            {{end}}
        </div>
    {{end}}
    {{if ne (len .Files) 0}}
        <div class="file files">
            {{range $i, $name := .Files}}
                <div class="line">
                    <img src="/assets/icon-file.svg" class="number">
                    <a class="content" href="./{{$name}}">
                        {{- $name -}}
                    </a>
                </div>
            {{end}}
        </div>
    {{end}}
{{end}}
