<!--

// First line must be empty and will not be displayed.
// Line index is used as line number.
type Context struct {
    Package string
    Version string
    Path    string
    Lines   []string
}

-->

{{define "title"}}
    <!-- TODO -->
    {{.Package}}@{{.Version}} - {{.Path}}
{{end}}

{{define "style"}}
    <style></style>
{{end}}

{{define "body"}}
    <div class="info">
        <a href="/package/{{.Package}}">{{.Package}}</a>
        &nbsp;/&nbsp;
        <a href="/package/{{.Package}}/{{.Version}}">{{.Version}}</a>
        &nbsp;/&nbsp;
        {{.Path}}
    </div>
    <div class="file">
        {{range $i, $line := .Lines}}
            {{if ne $i 0}}
                <div class="line">
                    <div class="hidden-id-target" id="L{{$i}}"></div>
                    <a class="number" href="#L{{$i}}">{{- $i -}}</a>
                    <div class="content">{{- $line -}}</div>
                </div>
            {{end}}
        {{end}}
    </div>
{{end}}
