{{define "title"}}
    {{.Package}}@{{.Version}} - {{.Path}}
{{end}}

{{define "style"}}
    <style>
        .file-info a {
            color: #888;
            padding: 0.3rem;
        }

        .file-info .sep::after {
            color: #888;
            content: ">";
            padding: 0.3rem;
        }
    </style>
{{end}}

{{define "body"}}
    <div class="file-info">
        <a href="/package/{{.Package}}">{{.Package}}</a>
        <span class="sep"></span>
        <a href="/package/{{.Package}}/{{.Version}}">{{.Version}}</a>
        <span class="sep"></span>
        &nbsp;{{.Path}}
    </div>
    <div class="file">
        {{range $i, $line := .Lines}}
            {{if ne $i 0}}
                <div class="line">
                    <div class="hidden-id-target" id="L{{$i}}"></div>
                    <a class="number" href="#L{{$i}}">{{- $i -}}</a>
                    <div class="content">{{- $line -}}</div>
                </div>
            {{end}}
        {{end}}
    </div>
{{end}}
