{{define "title"}}
    {{.Package}}@{{.Version}}
{{end}}

{{define "style"}}
    <style>
        .files {
            margin: 4.5rem 0;
            border-radius: 3px;
            background-color: #ececec;
            padding: 1rem 0;
        }

        .file {
            font-weight: 500;
            padding: 0 1rem;
        }

        .file summary {
            padding: 1rem;
        }
    </style>
{{end}}

{{define "body"}}
    <h1 class="title">
        <a class="package" href="/package/{{.Package}}">{{.Package}}</a>
        {{.Version}}
    </h1>
    <div class="files">
        {{range $file := .Files}}
            <details class="file" open>
                <summary>
                    <a href="./{{$file}}">
                        {{$file}}
                    </a>
                </summary>
                test
            </details>
        {{end}}
    </div>
{{end}}
