<!--

type Context struct {
    Package  string
    Latest   string
    Versions []string
}

-->

{{define "title"}}
    <!-- TODO -->
    {{.Package}}
{{end}}

{{define "style"}}
    <style>
        .file .line {
            display: block;
            padding: 0 1rem;
        }

        .file .line .latest {
            background-color: #fd4;
            border-radius: 3px;
            content: "latest";
            margin: 0 0 0 0.5rem;
            padding: 0.1rem 0.2rem 0 0.2rem;

            /* to remove text decoration from parent */
            display: inline-block;
        }
    </style>
{{end}}

{{define "body"}}
    <div class="info">
        {{.Package}}
    </div>
    <div class="file">
        {{$latest := .Latest}}
        {{range $version := .Versions}}
            <a class="line" href="./{{$version}}/">
                {{- $version -}}
                {{- if eq $latest $version -}}
                    <span class="latest">latest</span>
                {{end}}
            </a>
        {{end}}
    </div>
{{end}}
