<!--

type Context struct {
    Package  string
    Latest   string
    Disable  string
    Versions []string
}

-->

{{- define "title" -}}
    {{- .Package -}}
{{- end -}}

{{- define "style" -}}
    <style>
        .content .line .data {
            padding-left: 0;
        }

        .content .line .data .latest {
            background-color: #e0e0e0;
            border-radius: 3px;
            color: #222;
            content: "latest";
            margin: 0 0 0 0.5rem;
            padding: 0.1rem 0.3rem 0;

            /* to remove text decoration from parent */
            display: inline-block;
        }

        .content .line.disabled {
            color: #888;
            pointer-events: none;
            background-color: #f0f0f0;
        }

        .content .line.disabled .data .latest {
            opacity: 0.5;
        }
    </style>
{{- end -}}

{{- define "body" -}}
    <div class="info">
        {{- if eq .Disabled "" -}}
            {{- .Package -}}
        {{- else -}}
            <a href="/package/{{- .Package -}}/">{{- .Package -}}</a>
            @
            <a href="/package/{{- .Package -}}/{{- .Disabled -}}/">{{- .Disabled -}}</a>
            ..
        {{- end -}}
    </div>
    <div class="content">
        {{- $latest := .Latest -}}
        {{- $disabled := .Disabled -}}
        {{- range $version := .Versions -}}
            <div class="line {{- if eq $disabled $version}} disabled{{- end -}}">
                <img class="decoration" src="/assets/icon-package.svg">
                <a class="data" href="./{{- $version -}}/">
                    {{- $version -}}
                    {{- if eq $latest $version -}}
                        <span class="latest">latest</span>
                    {{- end -}}
                </a>
            </div>
        {{- end -}}
    </div>
{{- end -}}
