html {
    background-color: #fafafa;
    color: #222;
    font-family: 'Fira Sans', 'sans-serif';
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    overflow-x: hidden;
    transition: opacity 0.1s ease-in;
    width: 888px;
}

a {
    color: inherit;
    outline: none;
    text-decoration: none;
}

pre {
    font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', 'Courier', 'monospace';
    margin: 0;
}

header {
    padding: 2.5rem 0 2.5rem;
    text-align: center;
    user-select: none;
    -moz-user-select: -moz-none;
}

header .logo {
    height: 80px;
    width: 180px;
}

main {
    flex-grow: 1;
}

main > h1.title {
    padding: 1rem 0 0;
    text-align: center;
    margin-top: 0;
}

main > h1.title > a.package {
    border-radius: 4px;
    border: 2px solid #fd4;
    display: inline;
    font-size: inherit;
    margin: 0 0.5rem;
    padding: 0.6rem 1rem;
}

footer {
    color: #666;
    font-weight: 500;
    padding: 2rem 0 0.5rem;
    text-align: center;
    user-select: none;
    -moz-user-select: -moz-none;
}

footer a {
    margin: 0 0.5rem;
    padding: 0.5rem;
}

footer .logo-name {
    display: inline-block;
    opacity: 0.2;
    padding: 1.5rem;
    width: 80px;
}
