<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rejstry - {{template "title" .}}</title>
    {{template "style" .}}
    <link href="/static/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800,900&display=swap" rel="stylesheet">
</head>
<body style="opacity: 0;" onload="document.body.style.opacity = 1;">
    <header>
        <a href="/">
            <img class="logo" src="/static/logo.svg" alt="logo">
        </a>
    </header>
    <main>
        {{template "body" .}}
    </main>
    <footer>
        <a href="/">home</a>
        <a href="https://github.com/g-harel/rejstry">source</a>
        <a href="mailto:gabrielj.harel@gmail.com">contact</a>
        <br>
        <img class="logo-name" src="/static/logo-name.svg" alt="logo-name">
    </footer>
</body>
</html>
